fastapi
uvicorn
jinja2
qdrant-client
pydantic
insightface
onnxruntime-gpu==1.18.1
python-multipart
imagehash
exifread
transformers==4.44.2
einops
sentencepiece
Pillow
geopy
sentence-transformers

python-dotenv
google-genai
